version: 2.1
orbs:
  # https://github.com/cypress-io/circleci-orb
  cypress: cypress-io/cypress@1

# setting environment variables on CircleCI
# https://circleci.com/docs/2.0/env-vars/
workflows:
  build:
    jobs:
      # every testing job needs to install dependencies and Cypress
      - cypress/install:
          # instead of building the application
          # or in addition to it, start a new TestRail run
          # and save the run ID in a text file - it will be passed
          # to other CircleCI jobs via workspace together with the other files
          build: |
            runId=$(node ./bin/testrail-start-run.js \
              "Testing on Circle workflow ${CIRCLE_WORKFLOW_ID}" \
              "Cypress tests on CircleCI ${CIRCLE_BUILD_URL}")
            echo "TestRail run id ${runId}"
            echo ${runId} > runId.txt
            echo "Saved file runId.txt"
            cat runId.txt

      # cypress-testrail-simple automatically tries to read
      # the TestRail run ID from the file runId.txt
      - cypress/run:
          requires:
            - cypress/install
          # install-command: echo 'Nothing to install in this job'
          # print the file with the TestRail run ID
          install-command: ls -la && cat runId.txt
          record: true
          parallel: true
          parallelism: 2
          group: CircleCI
          # Try to close the TestRail run using job's post-steps
          # https://circleci.com/docs/2.0/configuration-reference/
          # Note that the close script first checks if there are any
          # remaining untested cases. Only when the untested count is 0
          # then the TestRail run is closed.
          post-steps:
            - run:
                name: Close TestRail Run
                when: always
                command: node ./bin/testrail-close-run.js
